{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": "11",
          "node": "current"
        },
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "styled-jsx/babel",
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            },
          }
        ],
      ],
    }
  }
}
